.top-containter {
  background-color: #EAF6F6;
}

.top-cloud {
  position: relative;
  left: 200px;
  padding-top: 100px
}

.bottom-cloud {
  position: absolute;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

h1 {
  color: #66BFBF;
  font-family: 'Indie Flower';
  font-size: 4.375rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

h2 {
  color: #66BFBF;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  position: relative;
  bottom: 10px;
}

.subtitle {
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Lato', sans-serif;
}

.intro {
  padding-bottom: 60px;
  margin-bottom: 0;
  width: 30%;
  line-height: 2;
  margin: auto;
}

.skills-imgs {
  width: 26%;
}

.design-img {
  float: left;
  margin-right: 20px;
}

.dev-img {
  float: right;
  margin-left: 20px;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
  text-decoration: none;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 25px;
}

.headings {
  font-size: 30px;
  margin-top: 70px;
}

hr {
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  height: 0;
  width: 20%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0;
}

.contact-me {
  width: 30%;
  line-height: 2;
  margin: auto;
}

#name-bottom {
  color: #EAF6F6;
  font-size: 12px;
  padding-top: 20px;
}

.btn {
  padding: 30px;
}

.footer-link {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 15px;
}

.btn {
	background-color: #ffb6b6;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
}
.btn:hover {
	background-color: #ff7272;
}
.btm:active {
	position:relative;
	top:1px;
}
